rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if request.resource.data.email is string && 
      	userId == request.resource.data.email &&
      	!(exists(/databases/$(database)/documents/users/$(request.resource.data.email))) &&
        request.resource.data.keys().hasAll(['email', 'acceptedPrivacy', 'timestamp', 'timezone', 'userAgent', 'language', 'lanugages']);
    }
  }
}